body{
  background-color: red;
  font-size: 75%;
  font-family:fantasy;
}
h1{
  color: blue;
  text-align: center;
  font-style: normal;
}
h2{
  color: blue
  font-style: italic;
  text-align: center;
}
p{
  font-family: sans-serif;
  line-height: normal;
}
ul{
  line-height: 40px;
}
strong{
  font-style: italic;
}
em{
  font-weight: bold;
}
